// Typography Choices

$sans-serif-font: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$code-font: Menlo, Monaco, "Courier New", monospace;

// Color Choices
// From http://clrs.cc/
$white: #fff;
$navy: #001F3F;
$blue: #0074D9;
$aqua: #7FDBFF;
$olive: #3D9970;
$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$purple: #B10DC9;
$maroon: #85144B;
$silver: #ddd;
$gray: #aaa;
$black: #111;
$teal: #39CCCC;
$green: #2ECC40;
$lime: #01FF70;
$fuschia: #F012BE;
